body{
    font-family: Arial, Helvetica, sans-serif;
}
#Logg_in_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
    border: 2px solid #000;
    border-radius: 10px;
}